.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('lake.JPG'); 
  background-size: cover;
}

.jumbotronTOZ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #000;
  background-image: url('TOZ.PNG'); 
  background-size: cover;
  height: 100%;
  width 100%;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.overlay-div{
  height:100%;
  width: 100%;
  position:absolute;
  background-color:#000;
  opacity:.7;
}
